/* Imitate footer CSS style in custom footer */
div.footer_custom {background-color: #fcf4e3; text-align: center;}
div.footer_custom p.copyright {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}


footer {
    padding: 30px 0;
    background: #fcf4e3;
    border-top: 1px #EAEAEA solid;
    margin-top: auto;
    font-size: 14px;
  }




  
  .highlight-wrapper {
    display: block;
  }
  
  .highlight {
    position: relative;
    z-index: 0;
    padding: 0;
    margin: 0;
    border-radius: 4px;
  }
  
  .highlight > .chroma {
    color: #d0d0d0;
    background-color: #f3f1f1;
    position: static;
    z-index: 1;
    border-radius: 4px;
    padding: 10px;
  }
  
  .chroma{
        background-color: #f3f1f1;
  }
  
  .chroma .lntd:first-child {
    padding: 7px 7px 7px 10px;
    margin: 0;
    background-color: #f3f1f1;
  }
  
  .chroma .lntd:last-child {
    padding: 7px 10px 7px 7px;
    margin: 0;
    background-color: #f3f1f1;
  }
  
  .copy-code-button {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.5px;
    width: 65px;
    color: #232326;
    background-color: #7f7f7f;
    border: 1.25px solid #232326;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    white-space: nowrap;
    padding: 4px 4px 5px 4px;
    margin: 0 0 0 1px;
    cursor: pointer;
    opacity: 0.6;
  }
  
  .copy-code-button:hover,
  .copy-code-button:focus,
  .copy-code-button:active,
  .copy-code-button:active:hover {
    color: #222225;
    background-color: #b3b3b3;
    opacity: 0.8;
  }
  
  .copyable-text-area {
    position: absolute;
    height: 0;
    z-index: -1;
    opacity: .01;
    
  }
  