<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
      {{ partial "nav.html" . }}
      {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
      <div class="container-fluid" >
        <div class="row ">
          <div class="col-md-2 " >
                {{ block "cloudtags" . }}{{ end }}
          </div>
          <div class="col-md-10">
            {{ block "main" . }}{{ end }}
          </div>
        </div>
      </div>
      {{ partial "footer.html" . }}
      {{ block "footer" . }}{{ end }}
  </body>
</html>

