{{ partial "header.html" . }}

<div class="container">
    <article class="post-container">
        {{ partial "page-header.html" . }}

        {{ partial "page-content.html" . }}
    </article>
</div>

{{ partial "footer.html" . }}

