<!DOCTYPE html>
<html{{ if .Site.Params.opengraph }} prefix="og: http://ogp.me/ns#"{{ end }}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ .Title }} &middot; {{ .Site.Author.name }}</title>
        <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        {{ hugo.Generator }}
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ if .Site.Params.opengraph }}{{ partial "opengraph.html" . }}{{ end }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}dist/site.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}dist/syntax.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,cyrillic-ext,latin-ext,cyrillic">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        {{ if .OutputFormats.Get "RSS" }}
            <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml">
        {{ end }}
        {{ partial "extra-in-head.html" . }}
        {{ partial "exponea.html" . }}
        {{ partial "fathom.html" . }}
    </head>
    <body>
        {{ template "_internal/google_analytics.html" . }}
        <div id="wrapper">
            <header class="site-header">
                <div class="container">
                    <div class="site-title-wrapper">
                        {{ with .Site.Params.logo }}
                            <a class="site-logo" href="{{ .Site.BaseURL }}">
                                <img src="{{ . }}" alt="{{ .Title }}" />
                            </a>
                        {{ else }}
                            <h1 class="site-title">
                                <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                            </h1>
                        {{ end }}
                        {{ if .Site.Params.rss }}
                            <a class="button-square" href="{{ .Site.BaseURL }}index.xml"><i class="fa fa-rss"></i></a>
                        {{ end }}
                        {{ with .Site.Params.twitter }}
                            <a class="button-square button-social hint--top" data-hint="Twitter" aria-label="Twitter" href="{{ . }}" rel="me" >
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.facebook }}
                            <a class="button-square button-social hint--top" data-hint="Facebook" aria-label="Facebook" href="{{ . }}" rel="me">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.gitlab }}
                            <a class="button-square button-social hint--top" data-hint="Gitlab" aria-label="Gitlab" href="{{ . }}" rel="me">
                                <i class="fa fa-gitlab" aria-hidden="true"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.github }}
                            <a class="button-square button-social hint--top" data-hint="Github" aria-label="Github" href="{{ . }}" rel="me">
                                <i class="fa fa-github-alt" aria-hidden="true"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.stackoverflow }}
                            <a class="button-square button-social hint--top" data-hint="Stack Overflow" aria-label="Stack Overflow" href="{{ . }}" rel="me">
                                <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.linkedin }}
                            <a class="button-square button-social hint--top" data-hint="LinkedIn" aria-label="LinkedIn" href="{{ . }}" rel="me">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.email }}
                            <a class="button-square button-social hint--top" data-hint="Email" aria-label="Send an Email" href="mailto:{{ . }}">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        {{ end }}
                    </div>

                    <ul class="site-nav">
                        {{ partial "navigation.html" . }}
                    </ul>
                </div>
            </header>

            <div id="container">
